---
- name: Ensure system is x86_64
  fail: msg="Docker requires a 64bit system architecture"
  when: "ansible_architecture != 'x86_64'"
  tags: [docker,check]

- include: Debian.yml
  when: ansible_os_family == "Debian"
  tags: [docker,packages]

- name: Ensure pip is installed
  easy_install: name=pip
  tags: [docker,packages]

- name: Ensure docker-py and pip packages are present
  pip: name=docker-py version=1.1.0 state=present
  tags: [docker,packages]

- name: Ensure docker is started
  service: name=docker state=started enabled=yes
  tags: [docker,service]
